.venv/
__pycache__/
*.pyc

# Terraform local artifacts and state
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Build artifacts
build/
*.zip

# OS/editor noise
.DS_Store
Thumbs.db

# Keep only top-level README markdown files tracked
**/*.md
!/README.md
!/README.vi.md
!/cost_calculate.md


slack.txt